* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/*scrollbar width */
::-webkit-scrollbar {
    width: 10px;
  }
  /*scrollbar Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
  }
  
  /*scrollbar Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
body {
    background-color: #A9ADAB;
}
.add-icon-wrapper{
    width: 37px;
}

.container {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    align-items: center;
}

ul li:hover .delete {
    display: block;
}
.flex{
    display: flex;
}
.space-between{
    justify-content: space-between;
}
.btn {
    border: none;
    background: none;
    color: grey;
}
.btn:hover{
    color: black;
}
.btn.active{
    color: black;
}
.secondary-btn{
    border: none;
    background: none;
    color: grey;
    display: flex;
    align-items: center;
}
.secondary-btn:hover{
    color: black;
}
.secondary-btn img{
    height:14px;
    margin-right: 2px;
}
#todo-list{
    min-height: 44px;
    max-height: calc(100vh - 200px);
    overflow-y: scroll;
    border-top: solid 1px grey;
    border-bottom: solid 1px grey;
}
#todo-list input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
}

#todo-list label {
    position: relative;
    cursor: pointer;
}

#todo-list label:before {
    content: '';
    background-color: transparent;
    border: 2px solid #000000;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    padding: 10px;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    cursor: pointer;
    margin-right: 10px;
    border-radius: 50%;
}

#todo-list input:checked+label:after {
    content: '';
    display: block;
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);

}

#todo-list input:checked+label:before {
    background: #000000;
}

#todo-list input:checked+label {
    text-decoration: line-through;
}

.delete {
    height: 24px;
    display: none;
}

.add-task {
    width: 100%;
    outline: none;
    font-size: 15px;
    padding: 11px;
    border: none;
    background-color: #ebefe9;
}
.add-task-container{
    background-color: #ebefe9;
    border-radius: 8px;
    margin-bottom: 4px;
}
.tasks-left {
    margin-bottom: 20px;
    font-size: 13px;
    padding-left: 6px;
    color: gray;
}
.add-task-icon{
    width: 30px;
    margin: 10px 4px 0px 0px;
    display: none;
}
.to-do-icon{
    height: 40px;
    margin-top: 3px;
}